.box-layout {
    
    height: 100vh;
    width: 100vw;

 
    background-image: url('/img/box-bg.jpg');
    background-size: cover;

    
    &__box {
        position: relative;
      
        
        width: 50%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 75em) {
            margin: 0 auto;
        }
        @media only screen and (max-width: 37.5em) {
            
            width: 100vw;
            
        }
        
    }

    &__content {
        width: min-content;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 37.5em) {
            height: auto;
            width: 100vw;
            justify-content: space-around;
            padding: 2rem;
        }
    }

    &__title {
        margin: 0 0 1.6rem 0;
        line-height: 1;
    }
}

.sub-heading {
    font-size: 2.6rem;
}

.box-text {
    font-weight: 600;
    font-size: 1.8rem;
    color: $grey;
}

.logo {
    height: 8rem;
    @media only screen and (max-width: 37.5em) {
        height: 5rem;
        
    }
}

.btn-box {
    margin-top: 3rem;
}
