.page-header {
    background-color: $off-white;
    margin-bottom: 3.2rem;
    padding: 3.2rem 0;

    &__title {
        margin: 0;
        font-weight: 300;

        span {
            font-weight: bold;
        }
    }

    &__actions {
        margin-top: 1.6rem;
    }
}