.footer {
    font-family: 'Ubuntu' sans-serif;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to left, rgba($teal, .7), rgba($cyan, .7));

    
    &__content {
        @include grid(2fr);
        height: 25rem;
        position: relative;
        z-index: 10;
    }

    &__btn {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
    }

    &__description {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        color: #fff;
        width: 50rem;
        font-weight: 300;
        justify-self: center;
        text-align: center;
        margin:3rem 0 5rem 0;

        @include respond(phone) {
            font-size: 1.8rem;
            width: 90%;
        }

        a {
            color: #fff;
            font-weight: 400;
        }
    }

    &__author {
        background-color: #EEF2F4;
        width: 100%;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        border-top: 2px solid darken(#EEF2F4, 5%);
        position: relative;
        z-index: 10;
        
        a {
            font-weight: 400;
            color: $teal;
        }
    }
}